<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests from testNG course">
    <test name="Regression">
        <groups>
            <run>
                <include name="Login"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest">
                <!--                <methods>-->
                <!--                    <include name="webStubsCookiesTest">-->
                <!--                    </include>-->
                <!--                </methods>-->
            </class>

        </classes>
        <!--        <packages>-->
        <!--            <package name="tests"></package>-->
        <!--        </packages>-->
    </test> <!-- Test -->
</suite> <!-- Suite -->